# Kafka Broker Configuration
KAFKA_BROKER=broker:9092
MSG_PER_SEC=5

# Oracle Database Configuration (local Docker)
ORACLE_SYS_PASSWORD=SysPass123
DB_USER=finance_user
DB_PASSWORD=Finance123
DB_DSN=oracle:1521/XEPDB1

# API Configuration
CACHE_TTL=120
