# Kafka Broker Configuration
KAFKA_BROKER=broker:9092
MSG_PER_SEC=5

# Postgres Database Configuration
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=finance_db

# Application Database URL
DATABASE_URL=postgres://user:password@postgres:5432/finance_db

# API Configuration
CACHE_TTL=120
